.container
   width: 1170px
   margin: auto
body
  font-family: sans-serif
img
  max-width: 100%

.button
  border-radius: 10px
  background-color: $jet
  border: 0
  padding: 18px 30px
  font-weight: 700
  font-size: 13px

@media (max-width: 1200px)
    .container
      width: 760px

@media (max-width: 768px)
  .container
     max-width: 580px
     width: 90%

